{% extends 'mentors_home_page.html' %}
{% block content %}
<section class="content-main">
    <div class="content-header" style="margin-top:-60px;">
        <div>
            <h2 class="content-title card-title">Feedback</h2>
            <!-- <p>Lorem ipsum dolor sit amet.</p> -->
        </div>
        <!-- <div>
            <input type="text" placeholder="Search order ID" class="form-control bg-white">
        </div> -->
    </div>
    <div class="card mb-4">
       
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="align-middle" scope="col">Cours Name</th>
                            <th class="align-middle" scope="col">User Name</th>
                            <th class="align-middle" scope="col">Comment</th>
                            <th class="align-middle" scope="col">Date</th>
                            <th class="align-middle" scope="col">Time</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in comment_ %}
                        <td>{{i.C_Cours_Name}}</td>
                        <td>{{i.C_User |upper}}</td>
                        <td style="width: 500px;">{{i.C_Comment}}</td>
                        <td>{{i.C_Date}}</td>
                        <td>{{i.C_Time}}</td>
        
           
        </tr>
        {% endfor %}
                    </tbody>
                </table>
            </div> <!-- table-responsive //end -->
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                <li class="page-item"><a class="page-link" href="#">02</a></li>
                <li class="page-item"><a class="page-link" href="#">03</a></li>
                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">16</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
            </ul>
        </nav>
    </div>
</section>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {% if messages %}
      {% for i in messages %}
        {% if i.tags == 'success' %}
         <script>
            swal('{{i}}','','success');
         </script>
         {% elif i.tags == 'error' %}
         <script>
            swal('{{i}}','','error');
         </script>
         {% elif i.tags == 'warning' %}
         <script>
            swal('{{i}}','','warning');
         </script>
         {% else %}
         <script>
            swal('{{i}}','','info');
         </script>
        {% endif %}
      {% endfor %}
    {% endif %}

{% endblock %}