<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;">
        <h1><a href="">Welcome</a>{{Email_.0.Full_Name | upper}}</h1>
        <h1><a href="{% url 'Start_Live_Class' %}">New Metting</a></h1>
        <h1><a href="{% url 'Join_Live_class' %}">Join Metting</a></h1>
        <h1><a href="" type="button">Logout</a></h1>

    </div>
</body>
</html>