<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Sign in</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'web/assets/css/main.css' %}">
</head>

<body>
    <main class="main">
        <section class="pt-100 pb-100">
            <div class="container">
                <div class="row" style="text-align: center;">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <div
                                    class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h3 class="mb-30" >Sign in</h3>
                                        </div>
                                           
                                            <div class="form-group">
                                                <a href="{% url 'Student_LogIn' %}"><button type="submit"
                                                        class="btn btn-fill-out btn-block hover-up" style="margin-left: 10px; font-size: 19px;  background-color:brown;">Student</button></a>
                                                <a href=""><button type="submit"
                                                        class="btn btn-fill-out btn-block hover-up"style="margin-left: 100px;  font-size: 19px;  background-color:brown;">Admin</button></a>
                                                <a href="{% url 'Meander_login' %}"><button type="submit"
                                                        class="btn btn-fill-out btn-block hover-up" style="margin-left: 100px;  font-size: 19px;  background-color:brown;">Meander</button></a>
                                            </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1"></div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Preloader Start -->

    <!-- Vendor JS-->
    <script src="{% static 'web/assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'web/assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'web/assets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
    <script src="{% static 'web/assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/slick.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/jquery.syotimer.min.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/wow.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/jquery-ui.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/magnific-popup.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/select2.min.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/waypoints.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/counterup.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/images-loaded.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/isotope.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/scrollup.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/jquery.vticker-min.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/jquery.theia.sticky.js' %}"></script>
    <!-- Template  JS -->
    <script src="{% static 'web/assets/js/main.js' %}"></script>

</body>

</html>