<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Cove Academy_Subjects</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'web/assets/css/main.css' %}">
</head>

<body>
    <header class="header-area header-style-1 header-height-2">
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="{% url 'Home_Page' %}"><img src="{% static 'web/assets/imgs/theme/head_.png' %}" style="width: 250px;"  alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            <form action="#">
                                <select class="select-active">
                                    <option>All Categories</option>
                                    <option>IBPS</option>
                                    <option>SSC</option>
                                    <option>RRB</option>
                                    <option>State PSC</option>
                                    <option>Bank Exam</option>
                                </select>
                                <input type="text" placeholder="Search for items...">
                            </form>
                        </div>
                                <div class="hotline d-none d-lg-block" style="margin-right:-40px;">
                                    {% if request.session.User_Email %}
                                    <div class="col-nav" style="padding-left: 50px;">

                                        <ul class="nav">
                                            <li class="dropdown nav-item">
                                                <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#"
                                                    id="dropdownAccount" aria-expanded="false"> <img
                                                        class="img-xs rounded-circle"
                                                        src="{% static 'web/assets/imgs/theme/avatar2.jpg' %}"
                                                        style="width:40px ; " alt="User"></a>
                                                <div class="dropdown-menu dropdown-menu-end"
                                                    aria-labelledby="dropdownAccount">
    
                                                    <a class="dropdown-item" href="#"><i>User: {{request.session.User_Email}}</i></a>
    
                                                    <a class="dropdown-item" href="{% url 'Edit_Profile' %}"><i
                                                            class="material-icons md-perm_identity"></i>My Profile</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item text-danger" href="{% url 'Student_Logout' %}"><i
                                                            class="material-icons md-exit_to_app"></i>Logout</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                     {% else %}
                                    <p><a style="margin-left: 20px; font-size: 20px; color: brown;" href="{% url 'Student_LogIn' %}"  class="btn-fill-out btn-block hover-up">LogIn</a></p>
                                     {% endif %}
                                </div>
                                
                            </div>
                            <div>
                                <a class="dropdown-item btn-fill-out btn-block hover-up" href="{% url 'Student_Logout' %}" style="margin-left: 40px; margin-right: -80px; font-size: 15px; font-weight: 600; background: none;" ><i> {{request.session.User_Email}}</i></a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">
                            <a class="categori-button-active" href="#">
                                <span class="fi-rs-apps"></span> All Exams
                            </a>
                            <div class="categori-dropdown-wrap categori-dropdown-active-large">
                                <ul>
                                
                                    <li class="has-children">
                                        <a href="{% url 'Course_Page' %}"><i class="evara-font-desktop"></i>IBPS</a>
                                        
                                    </li>
                                    <li class="has-children">
                                        <a href="{% url 'Course_Page' %}"><i class="evara-font-desktop"></i>SSC</a>
                                        
                                    </li>
                                    <li class="has-children">
                                        <a href="{% url 'Course_Page' %}"><i class="evara-font-desktop"></i>RRB</a>
                                        
                                    </li>
                                    <li class="has-children">
                                        <a href="{% url 'Course_Page' %}"><i class="evara-font-desktop"></i>State PSC</a>
                                       
                                    </li>
                                    <li class="has-children">
                                        <a href="{% url 'Course_Page' %}"><i class="evara-font-desktop"></i>Bank Exams</a>
                                        
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block" >
                            <nav>
                                <ul>
                                    <li><a  href="{% url 'Home_Page' %}">Home <i></i></a>
                                    </li>
                                    <li>
                                        <a href="{% url 'About_Page' %}">About</a>
                                    </li>
                                    <li><a href="{% url 'Course_Page' %}">Full Courses<i class=""></i></a>

                                    </li>
                                    
                                    <li class="position-static"><a class="active" href="{% url 'Subject_Page' %}">All Subjects<i class=""></i></a>
                                    </li>
                                    <li>
                                        <a href="{% url 'Chat_Page' %}">Group Chat</a>
                                    </li>
                                    <li><a href="{% url 'Blog_page' %}">Blog <i class=""></i></a>                                     
                                    </li>
                                    <li>
                                        <a href="{% url 'Contact_Page' %}">Contact</a>
                                    </li>
                                    <li><a href="#">More<i class="fi-rs-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="{% url 'View_Study_Material' %}">Study material</a></li>
                                            <li><a href="{% url 'View_Question_Paper' %}">Question paper</a></li>
                                            <li><a href="{% url 'View_Textbook_Page' %}">Text book</a></li>
                                            <li><a href="{% url 'Mock_Test_Page' %}">Mock test</a></li>
                                            <li><a href="{% url 'Live_Class_Page' %}">Live class</a></li>
                                            <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                                            <li><a href="page-terms.html">Terms of Service</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="hotline d-none d-lg-block">
                       <a class="dropdown-item  hover-up" style="background-color: white;" href="{% url 'Live_Class_Page' %}"><p><i class="fi-rs-headset"></i><span style="color: brown;">Live Class</span></p></a>
                    </div>    
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">
                        <a class="categori-button-active-2" href="#">
                            <span class="fi-rs-apps"></span> Browse Categories
                        </a>
                        <div class="categori-dropdown-wrap categori-dropdown-active-small">
                            <ul>
                                <li><a href="shop-grid-right.html"><i class="evara-font-dress"></i>Women's Clothing</a>
                                </li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-tshirt"></i>Men's Clothing</a>
                                </li>
                                <li> <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i> Cellphones</a>
                                </li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Computer &
                                        Office</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Consumer
                                        Electronics</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>Home & Garden</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-high-heels"></i>Shoes</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-teddy-bear"></i>Mother &
                                        Kids</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-kite"></i>Outdoor fun</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="index.html">Home</a>
                                <ul class="dropdown">
                                    <li><a href="index.html">Home 1</a></li>
                                    <li><a href="index-2.html">Home 2</a></li>
                                    <li><a href="index-3.html">Home 3</a></li>
                                    <li><a href="index-4.html">Home 4</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="shop-grid-right.html">shop</a>
                                <ul class="dropdown">
                                    <li><a href="shop-grid-right.html">Shop Grid – Right Sidebar</a></li>
                                    <li><a href="shop-grid-left.html">Shop Grid – Left Sidebar</a></li>
                                    <li><a href="shop-list-right.html">Shop List – Right Sidebar</a></li>
                                    <li><a href="shop-list-left.html">Shop List – Left Sidebar</a></li>
                                    <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Single Product</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Product – Right Sidebar</a></li>
                                            <li><a href="shop-product-left.html">Product – Left Sidebar</a></li>
                                            <li><a href="shop-product-full.html">Product – No sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop-filter.html">Shop – Filter</a></li>
                                    <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                                    <li><a href="shop-cart.html">Shop – Cart</a></li>
                                    <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                                    <li><a href="shop-compare.html">Shop – Compare</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Mega
                                    menu</a>
                                <ul class="dropdown">
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Women's Fashion</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Dresses</a></li>
                                            <li><a href="shop-product-right.html">Blouses & Shirts</a></li>
                                            <li><a href="shop-product-right.html">Hoodies & Sweatshirts</a></li>
                                            <li><a href="shop-product-right.html">Women's Sets</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Men's Fashion</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Jackets</a></li>
                                            <li><a href="shop-product-right.html">Casual Faux Leather</a></li>
                                            <li><a href="shop-product-right.html">Genuine Leather</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Technology</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Gaming Laptops</a></li>
                                            <li><a href="shop-product-right.html">Ultraslim Laptops</a></li>
                                            <li><a href="shop-product-right.html">Tablets</a></li>
                                            <li><a href="shop-product-right.html">Laptop Accessories</a></li>
                                            <li><a href="shop-product-right.html">Tablet Accessories</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="blog-category-fullwidth.html">Blog</a>
                                <ul class="dropdown">
                                    <li><a href="blog-category-grid.html">Blog Category Grid</a></li>
                                    <li><a href="blog-category-list.html">Blog Category List</a></li>
                                    <li><a href="blog-category-big.html">Blog Category Big</a></li>
                                    <li><a href="blog-category-fullwidth.html">Blog Category Wide</a></li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Single Product Layout</a>
                                        <ul class="dropdown">
                                            <li><a href="blog-post-left.html">Left Sidebar</a></li>
                                            <li><a href="blog-post-right.html">Right Sidebar</a></li>
                                            <li><a href="blog-post-fullwidth.html">No Sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="page-about.html">About Us</a></li>
                                    <li><a href="page-contact.html">Contact</a></li>
                                    <li><a href="page-account.html">My Account</a></li>
                                    <li><a href="page-login-register.html">login/register</a></li>
                                    <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                                    <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="page-terms.html">Terms of Service</a></li>
                                    <li><a href="page-404.html">404 Page</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Language</a>
                                <ul class="dropdown">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">German</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a href="page-contact.html"> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="page-login-register.html">Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> subject
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="shop-product-fillter">
                            <div class="totall-product">
                                <p><strong class="text-brand">All subject</strong>  for you!</p>
                            </div>
                        </div>
                        <div class="row product-grid-3" >
                            {% for i in Subject %} 
                            <div class="col-lg-3 col-md-4">
                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="">
                                            <a href="{% url 'Class_Page' sub_id=i.id sub_name_id=i.id %}">
                                                <img class="default-img" src="{{i.Subject_Images.url}}"  style="height: 180px; width: 250px;"  alt="">
                                                
                                            </a>
                                        </div>
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="hot">{{i.Course_Name}}</span> 
                                </div>
                                    </div> 
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="shop-grid-right.html">{{i.Course_Name}}</a>
                                        </div>
                                       
                                        <h2><a href="shop-product-right.html">{{i.Subject_Name | upper}}</a></h2>
                                        <div class="rating-result" title="90%">
                                            <span>
                                                <span>90%</span>
                                            </span>
                                        </div>
                                        <div class="product-price">
                                            <span>₹{{i.Subject_fees}}</span>
                                            <span class="old-price">₹{{i.Old_fees}}</span>
                                          <a href="{% url 'Subject_Payment_Page' pay_id=i.id %}" class="action-btn small hover-up" 
                                         ><button class="btn action-btn hover-up" style="padding: 5px; margin-left: 35px; margin-bottom: 15px;">Buy Now</button></a>  
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        
                        </div>
                        <!--pagination-->
                        <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-start">
                                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                                    <li class="page-item"><a class="page-link" href="#">16</a></li>
                                    <li class="page-item"><a class="page-link" href="#"><i
                                                class="fi-rs-angle-double-small-right"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-md-3 mb-lg-0">
                        <div class="row align-items-center">
                            <div class="col flex-horizontal-center">
                                <img class="icon-email" src="{% static 'web/assets/imgs/theme/icons/icon-email.svg' %}"
                                    alt="">
                                <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                            </div>
                            <div class="col my-4 my-md-0 des">
                                <h5 class="font-size-15 ml-4 mb-0"><strong>Cove Academy</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <!-- Subscribe Form -->
                        <form class="form-subcriber d-flex wow fadeIn animated">
                            <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                            <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                        </form>
                        <!-- End Subscribe Form -->
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="index.html"><img src="{% static 'web/assets/imgs/theme/head_.png' %}"
                                        alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>Cove Academy
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>04884 250617 /(+91) 987654321
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 10:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="{% static 'web/assets/imgs/theme/icons/icon-facebook.svg' %}"
                                        alt=""></a>
                                <a href="#"><img src="{% static 'web/assets/imgs/theme/icons/icon-twitter.svg' %}"
                                        alt=""></a>
                                <a href="#"><img src="{% static 'web/assets/imgs/theme/icons/icon-instagram.svg' %}"
                                        alt=""></a>
                                <a href="#"><img src="{% static 'web/assets/imgs/theme/icons/icon-pinterest.svg' %}"
                                        alt=""></a>
                                <a href="#"><img src="{% static 'web/assets/imgs/theme/icons/icon-youtube.svg' %}"
                                        alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="{% url 'About_Page' %}">About Us</a></li>
                            <li><a href="{% url 'Course_Page' %}">Full Courses</a></li>
                            <li><a href="{% url 'Subject_Page' %}">All Subjects</a></li>
                            <li><a href="{% url 'Chat_Page' %}">Group Chat</a></li>
                            <li><a href="{% url 'Blog_page' %}">Blog</a></li>
                            <li><a href="{% url 'Contact_Page' %}">Contact Us</a></li>
                            
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="{% url 'Student_LogIn' %}">Sign In</a></li>
                            <li><a href="{% url 'Student_Register' %}">Register</a></li>
                            <li><a href="{% url 'Contact_Page' %}">Help</a></li>
                            <li><a href="{% url 'View_Study_Material' %}">Study material</a></li>
                            <li><a href="{% url 'View_Question_Paper' %}">Question paper</a></li>
                            <li><a href="{% url 'View_Textbook_Page' %}">Text book</a></li>
                           
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="widget-title wow fadeIn animated">Install App</h5>
                        <div class="row">
                            <div class="col-md-8 col-lg-12">
                                <p class="wow fadeIn animated">From App Store or Google Play</p>
                                <div class="download-app wow fadeIn animated">
                                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active"
                                            src="{% static 'web/assets/imgs/theme/app-store.jpg' %}" alt=""></a>
                                    <a href="#" class="hover-up"><img
                                            src="{% static 'web/assets/imgs/theme/google-play.jpg' %}" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                <img class="wow fadeIn animated"
                                    src="{% static 'web/assets/imgs/theme/payment-method.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2025 <strong
                            class="text-brand">-Cove Academy</strong></p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="http://alithemes.com" target="_blank">Cove Academy.com</a>. All rights
                        reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->

    <!-- Vendor JS-->
    <script src="{% static 'web/assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'web/assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'web/assets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
    <script src="{% static 'web/assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/slick.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/jquery.syotimer.min.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/wow.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/jquery-ui.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/magnific-popup.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/select2.min.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/waypoints.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/counterup.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/images-loaded.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/isotope.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/scrollup.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/jquery.vticker-min.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/jquery.theia.sticky.js' %}"></script>
    <script src="{% static 'web/assets/js/plugins/jquery.elevatezoom.js' %}"></script>
    <!-- Template  JS -->
    <script src="{% static 'web/assets/js/main.js' %}"></script>
    <script src="{% static 'web/assets/js/shop.js' %}"></script>
</body>

</html>