{% extends 'index.html' %}
{% block content %}
<section class="content-main">
    <div class="content-header" style="margin-top: -40px;">
        <div>
            <h2 class="content-title card-title">Register Mentors Details</h2>
            <!-- <p>Lorem ipsum dolor sit amet.</p> -->
        </div>
        <!-- <div>
            <input type="text" placeholder="Search order ID" class="form-control bg-white">
        </div> -->
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Full Name</th>
                            <th scope="col">Mobile</th>
                            <th scope="col">Email</th>
                            <th scope="col">Qualification</th>
                            <th scope="col">Experience</th>
                            <th scope="col">Password</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in Reg %}
                        <td>{{i.Full_Name}}</td>
                        <td>{{i.Mobile}}</td>
                        <td>{{i.Email}}</td>
                        <td>{{i.Qualification}}</td>
                        <td>{{i.Experience}}</td>
                        <td>{{i.Password}}</td>
                        <td>{{i.is_approved|yesno:"Yes,No"}}</td>
                        <td >
                            {% if not i.is_approved %}
                                <a href="{% url 'Approve_Mentor' mentor_id=i.id %}" class="btn btn-success rounded font-sm">Approve</a>
                            {% else %}
                                <a class="btn btn-info rounded font-sm" disabled>Approved</button>
                            {% endif %}
                       
                            <a href="{% url 'Delete_Register_Mentors' del_id=i.id %}" class="btn btn-danger rounded font-sm" style="margin-left: 3px;">Delete</a> 
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> <!-- table-responsive //end -->
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                <li class="page-item"><a class="page-link" href="#">02</a></li>
                <li class="page-item"><a class="page-link" href="#">03</a></li>
                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">16</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
            </ul>
        </nav>
    </div>
</section>
{% endblock %}